{
    "clientId": "",
    "guildId": "",
    "botOwner": "",
    "embedColor": "#00a3ff",
    "_comment": "For the scoreboard you can't have more than 25 premade stats, also you can run /statlist to see all the scoreboard commands you can do on your server",
    "scoreboard": [
            [ "MineEmeralds", "ts_MineEmerald"],
            [ "UseTotem", "ts_UseTotem"],
            [ "Deaths", "ts_Deaths"],
            [ "DamageDealt", "ts_DamageDealt"],
            [ "playTime", "hc_playTime"],
            [ "Walk", "ts_Walk"],
            [ "MineRedstone", "ts_MineRedstone"],
            [ "KillEDragon", "ts_KillEDragon"],
            [ "DamageTaken", "ts_DamageTaken"],
            [ "TotalOresMined", "hc_MineOreShow"],
            [ "MineCoal", "ts_MineCoal"],
            [ "elytraKm", "hc_elytraKm"],
            [ "MineQuartz", "ts_MineQuartz"],
            [ "PlayerKills", "ts_PlayerKills"],
            [ "Sprint", "ts_Sprint"],
            [ "Sneak", "ts_Sneak"],
            [ "swimKm", "hc_swimKm"],
            [ "MineDEmerald", "hc_MineDEmerald"],
            [ "MobKills", "ts_MobKills"],
            [ "Swim", "ts_Swim"],
            [ "Jump", "ts_Jump"],
            [ "KillWither", "ts_KillWither"],
            [ "MineDiamond", "ts_MineDiamond"],
            [ "MineNetherite", "ts_MineNetherite"],
            [ "LastDeath", "ts_LastDeath"]
    ],
    "application": {
        "ticket_category": "",
        "staff_role": "",
        "member_role": "",
        "applicant_role": "",
        "message": ""
    }
}