{
    "clientId": "",
    "guildId": "",
    "botOwner": "",
    "embedColor": "#00a3ff",
    "_comment": "For the scoreboard you can't have more than 25 premade stats, also you can run /statlist to see all the scoreboard commands you can do on your server",
    "scoreboard": [
            { "name":"MineEmeralds", "value": "ts_MineEmerald"},
            { "name":"UseTotem", "value": "ts_UseTotem"},
            { "name":"Deaths", "value": "ts_Deaths"},
            { "name":"DamageDealt", "value": "ts_DamageDealt"},
            { "name":"playTime", "value": "hc_playTime"},
            { "name":"Walk", "value": "ts_Walk"},
            { "name":"MineRedstone", "value": "ts_MineRedstone"},
            { "name":"KillEDragon", "value": "ts_KillEDragon"},
            { "name":"DamageTaken", "value": "ts_DamageTaken"},
            { "name":"TotalOresMined", "value": "hc_MineOreShow"},
            { "name":"MineCoal", "value": "ts_MineCoal"},
            { "name":"elytraKm", "value": "hc_elytraKm"},
            { "name":"MineQuartz", "value": "ts_MineQuartz"},
            { "name":"PlayerKills", "value": "ts_PlayerKills"},
            { "name":"Sprint", "value": "ts_Sprint"},
            { "name":"Sneak", "value": "ts_Sneak"},
            { "name":"swimKm", "value": "hc_swimKm"},
            { "name":"MineDEmerald", "value": "hc_MineDEmerald"},
            { "name":"MobKills", "value": "ts_MobKills"},
            { "name":"Swim", "value": "ts_Swim"},
            { "name":"Jump", "value": "ts_Jump"},
            { "name":"KillWither", "value": "ts_KillWither"},
            { "name":"MineDiamond", "value": "ts_MineDiamond"},
            { "name":"MineNetherite", "value": "ts_MineNetherite"},
            { "name":"LastDeath", "value": "ts_LastDeath"}

}